<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="menu-header navbar-fixed-top" role="banner">
    <section id="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <ul class="quick-menu">
                        <li><a href="template-site-map.html" class="linkLeft">Site map</a></li>
                        <li><a href="template-about.html">About us</a></li>
                        <li><a href="template-team.html">Our team</a></li>
                        <li><a href="template-contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-12 quick-contact">
                    <div class="contact-phone"><i class="icon-mobile"></i>615.987.1234</div>
                    <ul class="social-icons">
                        <li><a href="#" class="rss" title="rss"><i class="icon-glyph-342"></i></a></li>
                        <li><a href="#" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a></li>
                        <li><a href="#" class="twitter" title="twitter"><i class="icon-glyph-339"></i></a></li>
                        <li><a href="#" class="gplus" title="gplus"><i class="icon-glyph-317"></i></a></li>
                        <li><a href="#" class="dribbble" title="dribbble"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#" class="linkedin" title="linkedin"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <!-- hamburger button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- / hamburger button -->

                <!-- Logo -->
                <a class="navbar-brand" href="index.html"><img src="static/images/main-logo.png"
                                                               alt="EDENA website template"/></a>
                <!-- /Logo -->
            </div>
            <div class="collapse navbar-collapse">
                <!-- Main navigation -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="header_index">
                        <a href="index.html" class="has-sub-menu">Home</a>
                    </li>

                    <li class="header_home">
                        <a href="blog-home.html" class="has-sub-menu">博客</a>
                    </li>

                    <li class="header_project">
                        <a href="blog-project.html" class="has-sub-menu">项目</a>
                    </li>
                    <li class="header_docs">
                        <a href="blog-docs.html" class="has-sub-menu">文档</a>
                    </li>

                    <li class="header_about">
                        <a href="blog-about.html" class="has-sub-menu">关于</a>
                    </li>

                    <li>
                        <a href="http://themeforest.net/item/edena-creative-multipurpose-bootstrap-template/9662339?ref=Little-Neko"
                           class="btn border small" target="_blank">Github</a></li>

                </ul>
                <!-- / End main navigation -->
            </div>


        </nav>
    </div>

</header>

</body>
</html>
